.DS_Store
__pycache__/
kabelhai/
fragments/
experiments/

build/
dist/

*.egg-info/

installer/windows/*.exe
installer/macos/target/*
installer/debian/*.deb
installer/debian/jabber4linux/*
!installer/debian/jabber4linux/DEBIAN/
