dnspython>=2.0
requests
watchdog
filelock
cryptography>=2.5
asn1

# pyaudio 0.2.11 (delivered in Ubuntu 22.04 package python3-pyaudio) is incomaptible with Python 3.10,
# so we need to install the newest version via pip
PyAudio==0.2.13 # needs Ubuntu/Debian package: portaudio19-dev

opuslib # needs Ubuntu/Debian package: libopus0
g729lib # needs Ubuntu/Debian package: libbcg729-0

# Debian package note: since python3-pyqt5 is a build-dependency and --use-system-packages is set,
# PyQt5 will not be installed in the venv. This is important because only the system-wide PyQt installation
# enables us to use the system theme and avoids unnessesary duplicate installation of the Qt libs on the system.
PyQt5
