[Desktop Entry]
Type=Application
Name=Jabber4Linux
Exec=/usr/share/jabber4linux/Jabber4Linux.py %u
Terminal=false
MimeType=x-scheme-handler/tel;
Icon=/usr/share/jabber4linux/assets/tux-phone.svg
Categories=Application;Utility
Comment=Unofficial Linux implementation of Cisco Jabber softphone

# execute `update-desktop-database` after copying into /usr/share/applications
